# Inputs
export INPUT_SONARCLOUD=SonarCloudServiceConnectionId
export INPUT_SONARORGANIZATION=CHANGEME
export INPUT_SERVICEKEY=CHANGEME
export INPUT_SERVICENAME=CHANGEME
export INPUT_CREATEPROJECT=true
export INPUT_TAGS=localtest
export INPUT_LONG_LIVE_BRANCHES="(branch|release)-.*"
export INPUT_VISIBILITY=private
#export INPUT_ENFORCEVISIBILITY=false
#export INPUT_SONARQUALITYGATE=CHANGEME
#export INPUT_MAINBRANCH=main
#export INPUT_ADDITIONALSETTINGS="sonar.exclusions=**/test/**,**/*.spec.ts"
#export INPUT_QUALITYPROFILES="ts=Sonar way"
#export INPUT_PERMISSIONTEMPLATE=CHANGEME
#export INPUT_GROUPPERMISSIONS="developers=user,codeviewer"
#export INPUT_USERPERMISSIONS="login=admin"
export INPUT_DRYRUN=true
#export INPUT_FAILONCONFIGERROR=false

# Used to derive the project key when INPUT_SERVICEKEY is empty
#export BUILD_REPOSITORY_NAME=my-repo

# Service Connection para SonarCloud
export ENDPOINT_URL_SonarCloudServiceConnectionId=https://sonarcloud.io
export ENDPOINT_AUTH_PARAMETER_SonarCloudServiceConnectionId_APITOKEN=CHANGEME
